<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- header links --}}
    {{>headerlinks}}
</head>

<body>
    <!-- main menu -->
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/ali.png" alt="Admin Pic" title="Hassan Ali" class="img-fluid">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to World Weather App</p>
                        <h1>I am a <span class="text_clr">MERN stack developer</span> and a <span
                                class="text_clr">freelancer</span></span></h1>
                        <a href="/weather"><button>Check Now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}
</body>

</html>